/* Write your CSS here */
.container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
}
.header {
  color: #ffffff;
  font-size: 42px;
  font-family: 'Roboto';
}
.ins-container {
  display: flex;

  flex-direction: row;
}
.name-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 300px;
  align-items: center;
}
.button {
  padding: 10px;
  color: #dd1264;
  font-family: 'Roboto';
  border-radius: 10px;
}
.hide-box {
  background-color: #fddddb;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
}

@media (max-width: 576px) {
  .ins-container {
    display: flex;
    flex-direction: column;
  }
}
